/*div {
  box-sizing: border-box;
}

.container {
  font-size: 0;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: 1px solid blue;
  position: relative;
}

.boxHolder {
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

body {
  margin: 0;
  background-color: #ccc
}


.header {
  padding: 30px;
  background: gray;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.content {
  float: left;
  width: 660px;
  background: #fff;
}

.navigation {
  float: right;
  width: 300px;
  background: #eee;
}

.navigation a {
  display: block;
  margin: 0 0 10px 0;
}

.footer {
  clear: both;
  background: #aaa;
  padding: 10px;
}


